body
{
	background: #252525;
	font-family: 'Raleway', sans-serif;
	color: white;
	
}
h1
{
	color: white;
	text-align: center;
}
.opener
{
	font-size: 65px;
}
.jumbotron
{
	background-color: #252525;
	color:white;
}
.navbar-brand
{
	margin-top: 5px;	
}
.navbar
{
	background: #16222A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* gradient taken from uigradients.com */


}
active
{
	background-color: transparent;
}
.table
{
	margin-top: 50px;
}
.list-inline
{
	margin-top: 30px;
	text-align: center;
}
i
{
	padding-left: 15px;
	padding-right: 15px;
}