body
{
	background: #252525;
	font-family: 'Raleway', sans-serif;
	
}
h1
{
	color: white;
	text-align: center;
}
.opener
{
	font-size: 65px;
}
.jumbotron
{
	background-color: #252525;
	color:white;
}
a
{
	
}